*{
    margin:0;
    padding:0;
}

header{
    display:flex;
    gap:15%;
    padding:20px;
    justify-content:center;
    background:rgba(255,255,255);
}

button{
    padding:12px 28px;
    border-radius:25px;
    background:#fff;
    cursor:pointer;
    font-weight:700;
    font-size:16px;
}